<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UploadFileSytemPath" value="\\10.24.0.51\Documents\ClaimAttachment"/>
    <add key="IHXProviderConnectionString" value="Data Source=10.24.3.37;Initial Catalog=IHXProvider;User ID=sa;Password=medistar@123$;Connection Timeout=30;Connection Lifetime=120;Min Pool Size=0;Max Pool Size=50;Pooling=true;"/>

    <add key="DownloadFileUrl" value="https://claimsapi.starhealth.in/api/common/v1/documents/"/>
    <add key="DownloadFileHeader" value="TUVESUJVRERZX0hPU1BJVEFMUE9SVEFMOj15Nkc/dnl6TGVfXlNreUc="/>

    <!--<add key="UploadFileSytemPath" value="C:\temp"/>
    <add key="IHXProviderConnectionString" value="Data Source=192.168.1.128;Initial Catalog=IHXProvider;User ID=sa;Password=mediassist;Connection Timeout=30;Connection Lifetime=120;Min Pool Size=0;Max Pool Size=50;Pooling=true;"/>-->


  </appSettings>
</configuration>